<section id="modal-produto">
  <article>
    <!-- botao de fechar -->
    <img
      class="fechar"
      (click)="cancelar()"
      src="assets\Imagens\close.png"
      alt="Botão de fechar aba"
    />
    <!-- Nome do produto -->
    <div class="nome-produto">
      <h2>{{ produto.nome }}</h2>
    </div>
    <!-- imagem do produto -->
    <figure>
      <img src="{{ produto.imagemUrl }}" alt="{{ produto.nome }}" />
    </figure>
    <!-- descricao do produto -->
    <div class="descricao-produto">
      <p>{{ produto.descricao }}</p>
    </div>
    <!-- descricao da quantidade -->
    <div class="descricao-quantidade">
      <p>Kit de 20 unidades</p>
      <p>{{ produto.preco }}</p>
    </div>

    <!-- caixinha para selecionar a quantidade -->
    <div class="infos-produto">
      <div class="quantidade">
        <button (click)="menos()">-</button>
        <input type="text" readonly [value]="quantidade" style="width: 70px">
        <button (click)=mais()>+</button>
      </div>

      <div class="total">
        <label></label>
        <input [value]="total()" style="background-color: #c4c4c4" />
      </div>
    </div>

    <!-- caixinha com valor total do produto -->
  <!-- botao de adicionar produto e quantidade ao carrinho -->
  <div class="adicionar-produto">
      <button type="submit" (click)="AdicionarAoCarrinho()" routerLink="/carrinho">
        Adicionar ao Carrinho
    </button>
  </div>
         
</article>
</section>