<app-header></app-header>
<!-- Definindo padding do Bootstrap -->
<div class="container mt-5 mb-5">
    <div class="container shadow p-5">
        <div class="p-5 border border-light rounded">
            <h2>Carrinho de Compras</h2>
            <hr>
            <!-- Tabela com os itens do carrinho -->
            <div class="container">
                <!-- Usando sistema de GRID do Bootstrap -->
                <!-- Verificando se o carrinho está vazio -->
                <div class="pt-5 row" *ngIf="carrinho?.length == 0">
                    <p class="text-danger">Carrinho vazio</p>
                </div>
                <!-- Carrinho com produtos -->
                <div class="pt-5 row" *ngIf="carrinho?.length > 0">
                    <!-- Criando tabela para exibir os itens do carrinho -->
                    <table class="table table-striped table-hover table-sm">
                        <!-- Colunas -->
                        <tr class="thead-light">
                            <th>Nome</th>
                            <th>Quantidade</th>

                            <th>Ações</th>
                            <th>Subtotal</th>
                        </tr>
                        <!-- Produtos -->
                        <!-- Se isComprado=false, destacar a linha -->
                        <tr *ngFor="let produto of carrinho" [class.table-danger]="produto.isComprado == false">
                            <td>{{produto.nome}}</td>
                            <!-- <td>{{produto.quantidade}}</td> -->
                            <td>
                                <div class="form-group">
                                <input type="number" class="form-control form-control-sm"
                                placeholder="Quantidade do produto" formControlName="quantidade"/>
                                </div>
                            </td>
                            <td>{{produto.quantidade}}</td>
                            <td>
                                <button type="button" class="btn btn-sm btn-outline-info rounded-circle" (click)="IncrementarQuantidade(produto.produtoId)">
                                    <!-- Ícone para marcar/desmarcar produto como comprado -->
                                    <i class="fas fa-plus-circle"></i>
                                </button>
                                <button type="button" class="btn btn-sm btn-outline-info rounded-circle" (click)="DecrementarQuantidade(produto.produtoId)">
                                    <!-- Ícone para marcar/desmarcar produto como comprado -->
                                    <i class="fas fa-minus-circle"></i>
                                </button>
                                <button type="button" class="btn btn-sm btn-outline-info rounded-circle" (click)="RemoverProduto(produto.produtoId)">

                                    <!-- Ícone para marcar/desmarcar produto como comprado -->
                                    <i class="far fa-trash-alt"></i>
                                </button>
                            </td>
                            <td>{{(produto.quantidade*produto.preco) | currency:"BRL"}}</td>
                        </tr>
                    </table>
                </div>
                <hr>
                <div>
                    <div class="totalizacao">
                        <div>SubTotal: {{subTotalCompra | currency:"BRL"}}</div>
                        <div>Frete: {{frete | currency:"BRL"}}</div>                         
                        <div>Total do Pedido: {{subTotalCompra+frete | currency:"BRL"}}</div>                        
                    </div>                    
                    <hr>
                    <div [formGroup]="DaterForm">
                        <mat-form-field class="example-full-width" appearance="fill">
                            <mat-label>Agende a entrega</mat-label>
                            <input readonly formControlName="FromDate"
                                matInput [(ngModel)]="agendamento"
                                [min]="minDate" 
                                [max]="maxDate"                             
                                [matDatepicker]="picker">
                            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                            <mat-datepicker #picker></mat-datepicker>
                        </mat-form-field>
                        <mat-error *ngIf="DaterForm.get('FromDate').hasError('requiredFromDate')">Please provide a valid Fromdate</mat-error>
                    </div>
                </div>
                <div class="fechar-pedido">
                    <button type="button" (click)="VerificarCarrinho()">Continuar</button>
                </div>            
            </div>

        </div>

    </div>

</div>

<app-footer></app-footer>