<section class="historia container">
  <article>
    <div class="imagem_historia">
      <figure>
        <img
          src="assets\Imagens\historia.svg"
          alt="Mulher com um cookie com um coração no centro"
        />
      </figure>
    </div>

    <div class="materia_historia">
      <h2>Onde tudo começou</h2>
      <p>A tradição da confeitaria sempre esteve presente na minha família.</p>
      <p>
        Para nós, oferecer docinhos é um ato de amor capaz de
        transformar o dia qualquer pessoa.
      </p>
      <p>
        Assim, de avó para neta, de mãe para filha, decidimos abrir nossa
        cozinha.
      </p>
    </div>
  </article>
</section>