section.historia {
  background-image: url("src\assets\Imagens\pattern_rosa.jpg");

  width: 100%;
  height: 100%;
}

section.historia article {
  max-width: 100%;
  max-height: 100%;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

section.historia article .materia_historia {
  width: 50%;
}

section.historia article h2 {
  font-family: "Allura", sans-serif;
  text-align: center;

  font-size: 3.6em;
}

section.historia article .imagem_historia {
  width: 50%;
}

section.historia article .imagem_historia figure img {
  width: 100%;
}

section.historia article .materia_historia p {
  font-size: 1.7em;
  text-align: center;
}

@media (max-width: 979px) {
  section.historia article {
    flex-wrap: wrap-reverse;
  }

  section.historia article .materia_historia,
  section.historia article .imagem_historia {
    width: 90%;
  }

  section.historia article .imagem_historia figure {
    display: flex;
    justify-content: center;
  }

  section.historia article .imagem_historia figure img {
    width: 80%;
  }
}
