<section class="historia container">
  <article>
    <div class="imagem_historia">
      <figure>
        <img
          src="assets\Imagens\historia.svg"
          alt="Mulher com um cookie com um coração no centro"
        />
      </figure>
    </div>

    <div class="materia_historia">
      <h2>Onde tudo começou</h2>
      <p>
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Libero hic
        eaque culpa, quod vel fugit laborum praesentium, veritatis eum suscipit
        amet vero, voluptates facere saepe non consequuntur quisquam nihil
        aspernatur.
      </p>
    </div>
  </article>
</section>
