footer .container {
  padding: 20px 10px;
}

footer {
  background-color: #bd898c;
}

.informacoes {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-top: 53px;
}

.informacoes figure img {
  width: 13rem;
  padding: 0;
}

.informacoes .contato ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  color: white;
}

.informacoes .contato ul li a {
  color: white;
  text-decoration: none;
}

.mapa iframe {
  width: 200px;
}

.copyright {
  text-align: center;
  margin-top: 30px;
  margin-bottom: 53px;
  color: white
}


/****************************** MEDIA QUERIES ******************************/

@media (max-width:770px) {
  .informacoes {
      display: block;
      text-align: center;
      padding-top: 53px;
  }
  .logo,
  .contato,
  .mapa {
      margin-bottom: 20px;
  }
}