<footer>
  <article class="container">

      <div class="informacoes">

          <div class="logo">
              <figure>
                  <img src="assets\Imagens\Salom-logo-white.png" alt="Logo da Salom Doces (um pedaço de bolo)" />
              </figure>
          </div>

          <div class="contato">
              <ul>
                  <li>
                      <a href="mailto:contato@salomdoces.com.br">CONTATO@SALOMDOCES.COM.BR</a>
                  </li>
                  <li>
                      <a href="https://api.whatsapp.com/send?phone=5511999999999&text=Ol%C3%A1.%20Gostaria%20de%20encomendar%20docinhos.">(11) 99999-9999 (WHATSAPP)</a>
                  </li>
                  <li>RUA VANDELEI N° 1464</li>
                  <li>POMPEIA</li>
                  <li>SÃO PAULO - SP</li>
              </ul>
          </div>

          <div class="mapa">
              <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1293.2640420075486!2d-46.680282578204675!3d-23.53598751428538!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94ce57f0217fbbdf%3A0xe2c0d9ed77c6ffb3!2sR.%20Vanderlei%2C%201464%20-%20Pompeia%2C%20S%C3%A3o%20Paulo%20-%20SP%2C%2005011-001!5e0!3m2!1spt-BR!2sbr!4v1634761672309!5m2!1spt-BR!2sbr"
                  loading="lazy"></iframe>
          </div>
          <!-- fechamento da div informacoes -->
      </div>

      <div class="copyright">
          <p> &copy; Salom Doces</p>
      </div>

  </article>

</footer>