.container {
  background-color: #dc969c;
  box-shadow: 0px 0px 8px #000000;
  padding-bottom: 20px;
  width: 1140px;
}

.container .logo-menu {
  /* codigo abaixo deixa a logo no centro */
  display: flex;
  justify-content: center;
  text-align: center;
}

.container .logo-menu img {
  width: 14rem;
  cursor: pointer;
}
/* Referente as imagens de Whats e Inst */
.container .contatos {
  color: white;
  font-size: 2rem;
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  padding: 20px;
}

.container .contatos a {
  color: #ffffff;
}

.navegacao {
  display: flex;
  justify-content: space-between;
}
.navegacao a,
.menu-hamburguer {
  color: white;
  font-size: 2em;
  padding-top: 20px;
  cursor: pointer;
}
article .menu-hamburguer {
  display: none;
}

/* <!-------------------------------- MEDIA QUERIES --------------------------------> */

@media (max-width: 630px) {
  article .menu-hamburguer {
    display: block;
    text-align: center;
    max-width: 100%;
  }
  article .menu-hamburguer .navbar-toggler {
    color: white;
    border: none;
    font-size: 1.8rem;
  }
  article .menu-hamburguer a {
    color: white;
    font-size: 1.5rem;
  }
  .navegacao {
    display: none;
  }
}

@media (max-width: 586px) {
  /* .container .logo-menu img {
    width: 8rem;
    
  } */

  /* .container{
        width:400px;
        padding:0;
        
    } */
}