<header>
    <article>
        <div class="contatos">
            <img src="assets/Imagens/whats_white.png" alt="icone_whatsapp" />
            <img src="assets/Imagens/insta_white.png" alt="icone_instagram" />
        </div>

        <div class="logo">
            <img src="assets/Imagens/Salom-logo-white.png" />
        </div>

        <div class="navegacao">
            <nav>
                <a>Cardápio</a>
                <a>História</a>
                <a (click)="mostrarModalClick()">SignIn</a>
                <a> <img src="assets\Imagens\kart_white.png" /> </a>
            </nav>
        </div>
    </article>
</header>