<section id="modal">
  <article>
    <img
      class="fechar"
      (click)="cancelar()"
      src="assets\Imagens\close.png"
      alt="Botão de fechar aba"
    />

    <figure>
      <img
        src="assets\Imagens\salom_logo_rosa.png"
        alt="Logo Salom (uma fatia de bolo)"
      />
    </figure>
    <form>
      <label> E-mail </label>
      <input type="email" name="email" id="email" />

      <label> Senha </label>
      <input type="password" name="senha" id="senha" />

      <div class="controles">
        <p type="button" (click)="cadastrar()">Criar uma conta</p>

        <button>Entrar</button>
      </div>
    </form>
  </article>
</section>
