<app-header></app-header>

<div class="container mt-5 mb-5">
    <div class="container shadow p-5">
        <div class="p-5 border border-light rounded">
            <h2>Parabéns pela sua compra!</h2>
            <hr>
            <!-- Tabela com os itens do carrinho -->
            <div class="container">
                Detalhes do Pedido
                <mat-card class="entrega">
                    <div class="row">
                        <div class="col">
                            <mat-card-subtitle>Cliente</mat-card-subtitle>
                            <mat-card-content>
                                <ul>
                                    <li>BRUNO SABIÁ</li>
                                    <li>Endereço Fictício, 123 - Apartamento 22</li>
                                    <li>Santa Efigência - CEP: 12345-678</li>
                                    <li>São Paulo, SP</li>
                                </ul>
                            </mat-card-content>
                        </div>
                    </div>
                </mat-card>
            </div>
        </div>
    </div>
</div>

<app-footer></app-footer>