mat-card {
    font-family: "Architects Daughter", sans-serif;
    color: #4a4949;
    font-size: 16px;
}

mat-card-subtitle {
    font-family: "Architects Daughter", sans-serif;
    color: #4a4949;
    font-size: 16px;
    font-weight: bolder;
}

h2 {
    font-family: "Allura", sans-serif;
    text-align: center;
    font-size: 3.6em;
  }

ul {
    padding: 0;
}

li {
    list-style: none;
}

.fechar-pedido{
    text-align: center;
    margin-top: 5px;
  }

.fechar-pedido {
    display: flex;
    align-content: space-between;
    justify-content: center;
    gap: 20px;
}

.fechar-pedido button{
    color: #ffffff;
    font-family: "Architects Daughter", sans-serif;
    font-size: 1.4em;

    background-color: #ff6584;
    border: none;
    border-radius: 1em;

    margin: 0.5em 0 0 0;
    padding: 0.4em;

    cursor: pointer;
}

.totalizacao{
    text-align: right;
    display: flex;
    justify-content: flex-end;
  }
  
  .totalizacao td{
    padding: 5px;
  }
  