<app-header (onAddContatoClick)="mostrarLogin()"></app-header>
<app-modal-login
  (onCancelarClick)="esconderLogin()"
  (onCadastrarClick)="mostrarCadastro()"
  *ngIf="mostrandoLogin"
></app-modal-login>
<app-modal-cadastro
  (onCancelarClick)="esconderCadastro()"
  *ngIf="mostrandoCadastro"
  (onLogarClick)="mostrarLogin()"
  (onLogarClick)="esconderCadastro()"
></app-modal-cadastro>
<!-- mostrandoProduto inicialmente false (modal não mostrado)
  Monitorando evento click para mostrar modal
  Se evento emitido, mostrandoProduto=true e modal é exibido -->
<app-modal-produto
  (onMostrarProdutoClick)="mostrarProduto()"
  *ngIf="mostrandoProduto">
</app-modal-produto>
<app-carousel></app-carousel>
<app-about></app-about>
<app-list-products></app-list-products>
<app-footer></app-footer>
