.produtos {
  display: flex;
  flex-wrap: wrap;
}

.docinho {
  background-color: #aaa;
  border-radius: 50%;
  width: 12em;
  height: 12em;
  overflow: hidden;
  position: relative;
  border: 0.8em solid #dc969c;
  margin: 0 1.5em;
}

.docinho img {
  height: 12em;
  width: 12em;
  object-fit: cover;
  position: absolute;
  bottom: 0;
  left: 0;
}

h3 {
  font-size: 1.6em;
  margin: 10px 0 0 0;
  padding: 0;
  text-align: center;
}

.botao {
  text-align: center;
}

button {
  margin: 1em 0 3em 0;
  padding: 0;
  border: none;
  border-radius: 2em;
  height: 2em;
  width: 6em;
  color: #ffffff;
  font-size: 1.3em;
  font-weight: 600;
  font-family: "Architects Daughter", sans-serif;
  background-color: #ff6584;
  cursor: pointer;
  text-align: center;
}