<article>
    <div class="docinho">
        <figure>
            <img src="assets/Imagens/Beijinho_borda.PNG" alt="Beijinho">
        </figure>
        <h3>Beijinho</h3>
        <button class="saiba_mais">Saiba mais</button>
    </div>
    <div class="docinho">
        <figure>
            <img src="assets/Imagens/Brigadeiro_churros_borda.PNG" alt="Brigadeiro">
        </figure>
        <h3>Brigadeiro</h3>
        <button class="saiba_mais">Saiba mais</button>
    </div>
    <div class="docinho">
        <figure>
            <img src="assets/Imagens/Casadinho_borda.PNG" alt="Casadinho">
        </figure>
        <h3>Casadinho</h3>
        <button class="saiba_mais">Saiba mais</button>
    </div>
    <div class="docinho">
        <figure>
            <img src="assets/Imagens/Coracao_borda.PNG" alt="Copinho de Cholocate">
        </figure>
        <h3>Copinho de Cholocate</h3>
        <button class="saiba_mais">Saiba mais</button>
    </div>
    <div class="docinho">
        <figure>
            <img src="assets/Imagens/Frisales_borda.PNG" alt="Frisales">
        </figure>
        <h3>Frisales</h3>
        <button class="saiba_mais">Saiba mais</button>
    </div>
    <div class="docinho">
        <figure>
            <img src="assets/Imagens/Redemoinho_borda.PNG" alt="Redemoinho">
        </figure>
        <h3>Redemoinho</h3>
        <button class="saiba_mais">Saiba mais</button>
    </div>
</article>
