<app-header></app-header>
<article>
  <form>
    <label>
      Nome completo
      <input type="name" name="name" id="name" />
    </label>
    <label>
      CPF
      <input type="cpf" name="cpf" id="cpf" />
    </label>
    <label>
      E-mail
      <input type="email" name="email" id="email" />
    </label>
    <label>
      Senha
      <input type="password" name="senha" id="senha" />
    </label>
    <label>
      Confirmar senha
      <input type="password" name="senha" id="senha" />
    </label>

    <h2>Telefone</h2>
    <div class="contato">
      <label class="ddd">
        DDD
        <input type="string" name="ddd" id="ddd" />
      </label>
      <label class="telefone">
        Número
        <input type="string" name="telefone" id="telefone" />
      </label>
      <label class="tipo">
        Tipo (comercial, residencial)
        <input type="string" name="tipo" id="tipo" />
      </label>
    </div>

    <h2>Endereço</h2>
    <div class="endereco">
      <label class="logradouro">
        Logradouro
        <input type="string" name="logradouro" id="logradouro" />
      </label>
      <label class="numero">
        N°
        <input type="string" name="numero" id="numero" />
      </label>
      <label class="complemento">
        Complemento
        <input type="string" name="complemento" id="complemento" />
      </label>
      <label class="tipo">
        Tipo(comercial, residencial)
        <input type="string" name="tipo" id="tipo" />
      </label>
    </div>

    <div class="controles">
      <button>Atualizar cadastro</button>
    </div>
  </form>
</article>
<app-footer></app-footer>
