<app-header></app-header>
<article>
    <form #clientePut="ngForm" (ngSubmit)="onSubmit(clientePut.value)">
        <label> Nome completo </label>
        <input type="text" name="nome" id="nome" ngModel/>

        <label> CPF </label>
        <input type="text" name="cpf" id="cpf" ngModel />

        <label> E-mail </label>
        <input type="email" name="email" id="email" ngModel/>

        <label> Senha </label>
        <input type="password" name="senha" id="senha" ngModel/>

        <label> Confirmar senha</label>
        <input type="password" name="confirmacao" id="confirmacao" />

        <h2>Telefone</h2>
        <div class="telefone">
            <div class="ddd">
                <label> DDD </label>
                <input type="string" name="telefone.ddd" id="telefone.ddd" ngModel/>
            </div>
            <div class="numero">
                <label> Número </label>
                <input type="string" name="telefone.numero" id="telefone.numero" ngModel/>
            </div>

            <div class="tipo">
                <label class="tipo"> Tipo (comercial, residencial)</label>
                <input type="string" name="telefone.tipo" id="telefone.tipo" ngModel />
            </div>
        </div>

        <h2>Endereço</h2>
        <div class="endereco">
            <label class="logradouro">
        Logradouro
        <input type="string" name="endereco.logradouro" id="endereco.logradouro" ngModel />
      </label>
            <label class="numero">
        N°
        <input type="string" name="endereco.numero" id="endereco.numero" ngModel />
      </label>
            <label class="complemento">
        Complemento
        <input type="string" name="endereco.complemento" id="endereco.complemento" ngModel/>
      </label>
            <label class="tipo">
        Tipo(comercial, residencial)
        <input type="string" name="endereco.tipo" id="endereco.tipo" ngModel/>
      </label>
        </div>

        <div class="controles">
            <button type="submit">Atualizar cadastro</button>
        </div>
    </form>
</article>
<app-footer></app-footer>