<section id="modal">
  <article>
    <img
      class="fechar"
      (click)="cancelar()"
      src="assets\Imagens\close.png"
      alt="Botão de fechar aba"
    />

    <figure>
      <img
        src="assets\Imagens\salom_logo_rosa.png"
        alt="Logo Salom (uma fatia de bolo)"
      />
    </figure>

    <div class="register-form">
      <form
        [formGroup]="form"
        #clientePost="ngForm"
        (ngSubmit)="onSubmit(clientePost.value)"
      >
        <div class="form-group">
          <label> Nome completo </label>
          <input
            type="text"
            formControlName="nome"
            class="form-control"
            [ngClass]="{ 'is-invalid': submitted && campoForm.nome.errors }"
          />
          <div
            *ngIf="submitted && campoForm.nome.errors"
            class="invalid-feedback"
          >
            <div *ngIf="campoForm.nome.errors.required">Nome inválido</div>
          </div>
        </div>

        <div class="form-group">
          <label> E-mail </label>
          <input
            type="text"
            formControlName="email"
            class="form-control"
            [ngClass]="{ 'is-invalid': submitted && campoForm.email.errors }"
          />
          <div
            *ngIf="submitted && campoForm.email.errors"
            class="invalid-feedback"
          >
            <div *ngIf="campoForm.email.errors.required">E-mail inválido</div>
            <div *ngIf="campoForm.email.errors.email">E-mail inválido</div>
          </div>
        </div>

        <div class="form-group">
          <label> Senha </label>
          <input
            type="password"
            formControlName="senha"
            class="form-control"
            [ngClass]="{ 'is-invalid': submitted && campoForm.senha.errors }"
          />
          <div
            *ngIf="submitted && campoForm.senha.errors"
            class="invalid-feedback"
          >
            <div *ngIf="campoForm.senha.errors.required">Senha inválida</div>
            <div *ngIf="campoForm.senha.errors.minlength">
              Senha precisa ter, pelo menos, 8 caracteres
            </div>
            <div *ngIf="campoForm.senha.errors.maxlength">
              Senha precisa ter, no máximo, 30 caracteres
            </div>
          </div>
        </div>
        <div class="form-group">
          <label> Confirmar senha </label>
          <input
            type="password"
            formControlName="confirmarSenha"
            class="form-control"
            [ngClass]="{
              'is-invalid': submitted && campoForm.confirmarSenha.errors
            }"
          />
          <div
            *ngIf="submitted && campoForm.confirmarSenha.errors"
            class="invalid-feedback"
          >
            <div *ngIf="campoForm.confirmarSenha.errors.required">
              Senha inválida
            </div>
            <div *ngIf="campoForm.confirmarSenha.errors.matching">
              Senhas não são iguais
            </div>
          </div>
        </div>

        <div class="controles">
          <button type="submit">Cadastrar</button>
        </div>
      </form>
    </div>
  </article>
</section>
