#modal {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(6px);
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: opacity 3s linear;
}

#modal article {
  width: 30em;
  background-color: #ffffff;
  height: 38em;

  border-radius: 4em;
  border: 0.5em solid #ff6584;
}

#modal article figure {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}

#modal article figure img {
  width: 14em;
}

#modal article .fechar {
  width: 1em;
  cursor: pointer;

  position: relative;
  left: 26em;
  top: 2em;
}

#modal article form {
  background-color: #ffffff;
  width: 26em;
  margin: 0 auto;
}

#modal article form label {
  font-size: 1.1em;
}

#modal article form input {
  width: 100%;
  margin: 0 0 0.4em 0;
  background-color: #fedada;

  border: none;
  padding: 0.4em;
  border-radius: 1em;

  font-size: 1em;
  color: #4a4949;
  font-family: "Architects Daughter", sans-serif;

  display: block;
}

#modal article form .controles {
  display: flex;
  justify-content: right;
  align-items: center;
}

#modal article form button {
  color: #ffffff;
  font-family: "Architects Daughter", sans-serif;
  font-size: 1.4em;

  background-color: #ff6584;
  border: none;
  border-radius: 1em;

  margin: 1em 0;
  padding: 0.4em;

  cursor: pointer;
}

#modal article form p {
  font-size: 1.4em;
  margin: 0;

  cursor: pointer;
}
