.container {
  margin-top: 50px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

h2 {
  font-family: "Allura", sans-serif;
  text-align: center;
  font-size: 3.6em;
  margin-top: 50px;
}
