@import url("https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Allura&family=Architects+Daughter&display=swap");

* {
  box-sizing: border-box;
}

body {
  font-family: "Architects Daughter", sans-serif;
  color: #4a4949;
  font-size: 16px;
  margin: 0 auto;
  padding: 0;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

article {
  width: 60em;
  max-width: 100%;
  margin: 0 auto;
}
